body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    width: 100vw;
    height: 100vh;
    font-family: 'Cardo', serif;
}

#content {
    width: 100%;
    height: 100%;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

#nav-bar h1 {
    padding-top: 15px;
    margin: 0px 30px;
    font-size: 3.5em;
    color: white;
    font-family: 'Cedarville Cursive', cursive;
}

div>ul {
    display: flex;
    flex-direction: row;
    text-decoration: inherit;
}

div>ul>li {
    list-style: none;
}

div>ul>li>a {
    display: inline-block;
    padding: 20px 30px 5px;
    text-decoration: solid;
    font-size: 1.5em;
    color: white;
}

.push-right {
    margin-left: auto;
}

.adjust-left {
    margin-right: 8em !important;
}

.button-element {
    border-style: solid;
    border-color: white;
    border-radius: 35px;
}

#button-nav-div a:hover {
    background-color: white;
    border-radius: 30px;
    color: black;
    transition: 0.1s;
}

#button-nav-div>ul>li {
    margin: 0;
}

#button-nav-div ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2em;
}

#button-nav-div ul a {
    display: inline-block;
    padding: 20px 30px;
    text-decoration: solid;
    font-size: 1.5em;
    color: white;
}

#main-img {
    display: block;
    width: 31.25em;
    height: 44.3125em;
    position: absolute;
    top: 15%;
    left: 10%;
}

#background-image {
    width: 100vw;
    height: 50vh;
    background-color: #36454f;
}

.tagline {
    color: black;
    position: absolute;
    top: 40%;
    left: 42%;
}

h2 {
    font-size: 2em;
}

p {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.5em;
}

#contact {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#contact p {
    font-family: 'Cardo', serif;
}

#contact h2 {
    margin-top: 1.5em;
    text-align: center;
}

.flex-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-div p {
    margin: 0;
    padding-left: 1em;
}

.contact-grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-gap: 1.5em;
}

#menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    padding: 60px 70px;
    grid-gap: 50px;
}

.menu-food-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
}

#menu h5 {
    margin: 15px 0px;
    padding-left: 25px;
    font-size: 1.2em;
}

#menu p {
    padding-left: 25px;
    font-family: 'Cardo', serif;
    font-size: 1.2em;
}

#menu img {
    display: block;
    width: 128px;
    height: 108px;
    padding: 15px 25px;
}